$color-dark-color: rgb(1, 8, 1);
$color-dark-light: rgba(1, 8, 1, 0.5);
$color-light: rgba(255,255,255,.5);
$color-white: rgb(255, 255, 255);
$color-light-bg: rgba(255, 255, 255, 0.102);
$color-main-color: #ff0;

$color-add:#443;
$color-border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
$color-border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
$border:.2rem solid $color-add;
$border-hover:.2rem dashed $color-add;
