.btn{
    display: inline-block;
    padding:.9rem 1.5rem;
    border:$border;
    border-radius: $color-border-radius;
    color:$color-add;
    background: none;
    border:$color-border-radius;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover{
    border:$border-hover;
    border-radius: $color-border-radius-hover;
}
